@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Global Variables */
:root {
    --dark-green:#13442b;
    --sandy: #d28c43;
    --light-green-1: #84B39A;
    --light-green-2: #84aa9a;
    --light-white: #ebf4ee;
}

/* Set base font size for ease of calculation of rems */
html { font-size: 62.5%; } 

/* Applies to whole page */
/* Remove all default margin, padding and border values for easier styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
     font-family: Lato,sans-serif ;
     font-weight: 300;
     color: var(--dark-green)
}

/* Headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    color: var(--dark-green);
}

#logo {
    float: left;
    font-size: 380%;
    margin-left: 2.5rem;
    letter-spacing: 5px;

}

/* Navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    float:left;
    margin-left: 2.5rem;
}

/* Vertically center the logo and menu */
#menu, #logo {
    line-height: 7.5rem;;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2.5rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
}

#menu a:hover {
    border-bottom: 2px solid var(--sandy)
}

.active {
    border-bottom: 2px solid var(--dark-green)
}

nav {
    text-align: center;
}

/* Horizontal Rule */
hr {
    border-bottom: 4px solid var(--dark-green);
    margin: 4px 0;
    width:100%;
}
/* Hero Image */

#hero-outer {
    height: 50rem;
    width: 100%;
    overflow: hidden;

    position: relative;

}

#hero-image {
    height: 50rem;
    width: 100%;
    background: url("../images/heroSmaller.jpg") no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


/* Slogan */

#slogan, #slogan h2{
    color: var(--light-white);
}

#slogan {
    font-size: 230%;
    font-family: Oswald, sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 45%;
    left: 70%;
    background-color: rgba(19, 68, 43, .5);
    padding: 0 .5rem;
    /* display: none; */
}

/* Inspirational Section */

#inspirational-heading, #kids-heading, #adults-heading, #gallery-heading, #latest-news-heading, #contact-us-heading, #question-heading, #directions-heading {
    text-align: center;
    margin: 20px 0 ;
    font-size: 380%;
}


#inspirational-text, #kids-text, #adults-text {
    text-align: center; 
    font-size: 1.5rem;
}

#inspirational-text a {
    text-decoration: none; 
    font-weight: bold;
    color: var(--dark-green);
    font-style: italic;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    /* float: left; */

}

.left-about-heading, .right-about-heading {
    width: inherit ;
}

.left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
}

.left-about-heading p, .right-about-heading p {
    padding: 0 20px;
    text-align: center;
}

.contactuslink {
    text-align: center; 
    padding: 2rem; 
    background-color: var(--dark-green);  
    height: 2rem; 
    width:20rem;  
    font-size: 150%; 
    margin: 2rem auto ;
    clear: both;
}

.contactuslink a {
    text-decoration: none; 
    color: var(--light-white) ; 
    text-align: center;
    font-weight: bold;
}

.backtotop a {
    text-decoration-color: var(--dark-green); 
    color: var(--dark-green) ; 
    font-weight: bold;
    padding: 2rem;
    font-size: 150%;
}


/* Sections Menu */

#sections, #kids-menu, #adults-menu {
    width: 100%;
    background-color: var(--light-green-1);
    clear: both
}

#sections div, #kids-menu div ,#adults-menu div {
    color: var(--light-white);
    background-color: var(--dark-green);
    width: 100%;
    float: left;
    padding: 2rem 0 2rem 0;
    text-align: center;
    border:2px solid white;
    box-sizing: border-box;
}

#sections a,  #kids-menu a,#adults-menu a  {
    color: var(--light-white);
    text-decoration : none;
    font-size: 2rem;
}

/* About Us */

#about {
    margin-left: auto;
    margin-right: auto;;
}

#about-heading {
    background-color: var(--dark-green); 
    color: var(--light-white); 
    text-align: center; 
    font-size: 300%;
}

.section-heading {
    background-color: var(--dark-green); 
    color: var(--light-white); 
    text-align: center; 
    font-size: 300%;
}

#about-text {
    font-size: 175%; 
    line-height: 3rem; 
    margin-left: 2rem; 
    margin-top: 2rem;  
    float: left;
}

#about-text h2 {
    text-align: center; 
    font-weight: bold;
}

.section-text {
    font-size: 175%; 
    line-height: 3rem; 
    margin-left: 2rem; 
    margin-top: 2rem;  
    padding-right: 2rem;
    
    /* float: left; */
}

.section-text h2 {
    text-align: center; 
    font-weight: bold;
}

#gallery {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: .5rem;
}

#gallery > img {
    width: 100%;
    padding-bottom: .5rem;
}

#latest-news {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: .5rem;
}

#latest-news > div {
    width: 100%;
    padding: 5rem;
}

#contact-us {
    text-align: center; 
    font-weight: bold;
    font-size: 150%;
    color: #000;
}

/* Form */

/* #question-section {
    height: 20rem;
} */

#question-form
{
    /* margin: 150px 10% 0 0; */
    background-color: var(--dark-green);
    color: var(--light-white);
    max-width: 400px;
    /*position: absolute;
    left:10%; */
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

#questionlink {
    text-align: center; 
    padding: 2rem; 
    background-color: var(--light-white);  
    height: 2rem; 
    width:20rem;  
    font-size: 150%; 
    margin: 2rem auto ;
    clear: both;
}

#questionlink a {
    text-decoration: none; 
    color: var(--dark-green) ; 
    text-align: center;
    font-weight: bold;
}

#questionlink input:hover {
    font-size: 120%;
}

.text-input {
    background: transparent;
    color: var(--light-white);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid var(--light-white);
    border-radius: 2px;
}

.text-input:hover, #question {
    border-color: var(--light-green-1);
}

/* footer */

footer {
    height: 150px;
}

.social-media-links {
    text-align:center;
}

.social-media-links > li {
    display: inline;
}

.social-media-links i {
    font-size: 200%;
    margin: 1%;
    padding: 4%;
    /* color: var(--dark-green); */
}

/* For larger screen sizes 80rem and over */
@media screen and (min-width: 70rem) {
    #hero-image {
        background: url("../images/hero-image.jpg") no-repeat center center;
    }

    #menu {
        float: right;
        font-size: 210%;
    }

    #slogan {
        top: 65%;
        left: 70%;
    }

    .image-right {
        /* float: right; */
        width: 25%;
    }

    #sections > div, #adults-menu > div {
        width: 25%;
        padding: 2rem 0;
        float:left;
    }

    #kids-menu > div {
        width: 20%;
        padding: 2rem 0;
        float:left;
    }

    /* #image-right {
        width: 40%; 
    } */

    #about-text {
        padding-left: 2em;
        width: 50%;

    }

    .section-text {
        padding-left: 2em;
        width: 50%;

    }
    .content {
        margin-top:2rem;
        display:flex;
    }

    #gallery {
        column-count: 2;
    }
    
    #latest-news {
        column-count: 2;
    }
    
}

/* For medium screens size from 950px wide and upwards */

@media screen and (min-width: 95rem) {

    #slogan {
        top: 75%;
        left: 70%;
    }
    #sections > div {
        width: 25%;
        padding: 2rem 0;
        float:left;
    }

    #kids-menu > div {
        width: 20%;
        padding: 2rem 0;
        float:left;
    }

    .image-right {
        width: 40%; 
    }

    #gallery {
        column-count: 2;
    }

    #latest-news {
        column-count: 2;
    }
}