@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Global Variables */
:root {
    --dark-green:#13442b;
    --sandy: #d28c43;
    --light-green-1: #84B39A;
    --light-green-2: #84aa9a;
    --light-white: #ebf4ee;
}

/* Applies to whole page */
/* Remove all default margin, padding and border values for easier styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
     font-family: Lato,sans-serif ;
     font-weight: 300;
     color: var(--dark-green)
}

/* Headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 5px;
    color: var(--dark-green);
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 25px;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float:left;
    margin-left: 25px;
}

/* Vertically center the logo and menu */
#menu, #logo {
    line-height: 75px;;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid var(--sandy)
}

.active {
    border-bottom: 2px solid var(--dark-green)
}

nav {
    text-align: center;
}

/* Hero Image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;

}

#hero-image {
    height: 500px;
    width: 100%;
    background: url("../images/heroSmaller.jpg") no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


/* Slogan */

#slogan, #slogan h2{
    color: var(--light-white);
}

#slogan {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 20%;
    left: 70%;
    background-color: rgba(210, 140, 67, .7);
    padding: 10px;
}

/* For larger screen sizes 800px and over */
@media screen and (min-width: 800px) {
    #hero-image {
        background: url("../images/hero-image.jpg") no-repeat center center;
    }

    #menu {
        float: right;
    }
    
}