@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Global Variables */
:root {
    --dark-green:#13442b;
    --sandy: #d28c43;
    --light-green-1: #84B39A;
    --light-green-2: #84aa9a;
    --light-white: #ebf4ee;
}

/* Set base font size for ease of calculation of rems */
html { font-size: 62.5%; } 

/* Applies to whole page */
/* Remove all default margin, padding and border values for easier styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
     font-family: Lato,sans-serif ;
     font-weight: 300;
     color: var(--dark-green)
}

/* Headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    color: var(--dark-green);
}

#logo {
    float: left;
    font-size: 380%;
    margin-left: 2.5rem;
    letter-spacing: 5px;

}

/* Navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 4px;
    float:left;
    margin-left: 2.5rem;
}

/* Vertically center the logo and menu */
#menu, #logo {
    line-height: 7.5rem;;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2.5rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
}

#menu a:hover {
    border-bottom: 2px solid var(--sandy)
}

.active {
    border-bottom: 2px solid var(--dark-green)
}

nav {
    text-align: center;
}

/* Hero Image */

#hero-outer {
    height: 50rem;
    width: 100%;
    overflow: hidden;

    position: relative;

}

#hero-image {
    height: 50rem;
    width: 100%;
    background: url("../images/heroSmaller.jpg") no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}


/* Slogan */

#slogan, #slogan h2{
    color: var(--light-white);
}

#slogan {
    font-size: 230%;
    font-family: Oswald, sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top: 75%;
    left: 70%;
    background-color: rgba(19, 68, 43, .5);
    padding: 0 .5rem;
    /* display: none; */
}

#inspirational-heading, #kids-heading, #adults-heading, #gallery-heading {
    text-align: center;
    margin: 20px 0 ;
    font-size: 380%;
}

#inspirational-text, #kids-text, #adults-text {
    text-align: center; 
    font-size: 1.5rem;
}

#inspirational-text a {
    text-decoration: none; 
    font-weight: bold;
    color: var(--dark-green);
    font-style: italic;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

.left-about-heading, .right-about-heading {
    width: inherit ;
}

.left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
}

.left-about-heading p, .right-about-heading p {
    padding: 0 20px;
    text-align: center;
}

.contactuslink {
    text-align: center; 
    padding: 2rem; 
    background-color: var(--dark-green);  
    height: 2rem; 
    width:20rem;  
    font-size: 150%; 
    margin: 2rem auto ;
    clear: both;
}

.contactuslink a {
    text-decoration: none; 
    color: var(--light-white) ; 
    text-align: center;
    font-weight: bold;
}



/* Sections Menu */

#sections, #kids-menu, #adults-menu {
    width: 100%;
    background-color: var(--light-green-1);
    clear: both
}

#sections div, #kids-menu div ,#adults-menu div {
    color: var(--light-white);
    background-color: var(--dark-green);
    width: 100%;
    float: left;
    padding: 2rem 0 2rem 0;
    text-align: center;
    border:2px solid white;
    box-sizing: border-box;
}

#sections a,  #kids-menu a,#adults-menu a  {
    color: var(--light-white);
    text-decoration : none;
    font-size: 2rem;
}

#about {
    margin-left: auto;
    margin-right: auto;;
}

#about-heading {
    background-color: var(--dark-green); 
    color: var(--light-white); 
    text-align: center; 
    font-size: 300%;
}

#about-text {
    font-size: 175%; 
    line-height: 3rem; 
    margin-left: 2rem; 
    margin-top: 2rem;  
    float: left;
}

#about-text h2 {
    text-align: center; 
    font-weight: bold;
}

/* #container {
    display: flex;
} */

/* #photo {
    color:blanchedalmond;
} */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: .5rem;
}

#gallery > img {
    width: 100%;
    padding-bottom: .5rem;
}



/* For larger screen sizes 800px and over */
@media screen and (min-width: 80rem) {
    #hero-image {
        background: url("../images/hero-image.jpg") no-repeat center center;
    }

    #menu {
        float: right;
        font-size: 210%;
    }

    #image-right {
        float: right;
        width: 25%;
    }

    #sections > div, #adults-menu > div {
        width: 25%;
        padding: 2rem 0;
        float:left;
    }

    #kids-menu > div {
        width: 20%;
        padding: 2rem 0;
        float:left;
    }

    #image-right {
        width: 40%; 
    }

    #about-text {
        padding-left: 2em;
    }

    #content {
        margin-top:2rem;
    }

    #gallery {
        column-count: 2;
    }
    
}

/* For medium screens size from 950px wide and upwards */

@media screen and (min-width: 95rem) {
    #sections > div {
        width: 25%;
        padding: 2rem 0;
        float:left;
    }

    #kids-menu > div {
        width: 20%;
        padding: 2rem 0;
        float:left;
    }

    #image-right {
        width: 40%; 
    }

    #gallery {
        column-count: 2;
    }
}